body {
    background-color: azure;
}

.mainbox {
    background-color: white;
    width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.athorbox {
    position: fixed;
    left: 0;
}

input {
    width: 600px;
    height: 20px
}

select {
    height: 20px;
    width: 100px;
}

button {
    height: 30px;
    width: 100px;
    font-size: 20px;
    background-color: aqua;
}

.tablebox {
    background-color: white;
    width: 1000px;
    height: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
.main{
    float:left;
    clear:right;
    width: 600px;
    height: 800px;
}
.tablebox2{
    float:left;
    clear:right;
    background-color: white;
    width: 900px;
    height: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.linecharbox{
    width: 1000px;
    height: 600px;
}
table td, table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}
table thead tr th {
    background-color: #CCE8EB;
    width: 100px;
}
table tr:nth-child(odd) {
    background: #fff;
}
table tr:nth-child(even) {
    background: #F5FAFA;
}
.tablebox2 .highTr{
    background-color: #DFE7F2;
    color: #000000;
}